*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#4f8cff,#b9d8ff);

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}

.dashboard{

    width:100%;

    max-width:500px;

    background:white;

    border-radius:25px;

    padding:25px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

    padding-bottom:100px;

}

.header{

    text-align:center;

    margin-bottom:25px;

}

.header h1{

    color:#0b57d0;

    margin-bottom:10px;

}

.header h2{

    color:#444;

    margin-bottom:5px;

}

.header h3{

    color:#777;

    margin-bottom:8px;

}

#todayDate{

    color:#888;

    font-size:15px;

}

.card{

    background:#f7f9fc;

    border-left:6px solid #0b57d0;

    border-radius:15px;

    padding:18px;

    margin-bottom:20px;

    box-shadow:0 5px 12px rgba(0,0,0,0.08);

}

.card h2{

    color:#0b57d0;

    margin-bottom:10px;

}

.card p{

    color:#444;

    line-height:25px;

}

.quick-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

}

.small-card{

    background:white;

    border-radius:15px;

    text-align:center;

    padding:20px;

    box-shadow:0 5px 12px rgba(0,0,0,0.08);

}

.small-card h3{

    font-size:30px;

    margin-bottom:10px;

}

.small-card h2{

    color:#0b57d0;

    margin-bottom:5px;

}

.small-card p{

    color:#666;

}

.menu{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    background:white;

    display:flex;

    justify-content:space-around;

    align-items:center;

    padding:10px 0;

    box-shadow:0 -5px 15px rgba(0,0,0,0.15);

}

.menu button{

    background:none;

    border:none;

    color:#0b57d0;

    font-size:14px;

    cursor:pointer;

    width:20%;

    padding:8px;

}

.menu button:hover{

    background:#e9f1ff;

    border-radius:12px;

}

input,
select{

    width:100%;

    padding:15px;

    margin:12px 0;

    border:2px solid #ddd;

    border-radius:12px;

    font-size:16px;

}

button{

    width:100%;

    padding:15px;

    margin-top:15px;

    background:#0b57d0;

    color:white;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:17px;

}

button:hover{

    background:#0846a8;

}

.logo{

    width:120px;

    display:block;

    margin:auto;

    margin-bottom:20px;

}

.login-box{

    width:100%;

    max-width:500px;

    background:white;

    border-radius:25px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

.school-name{

    text-align:center;

    margin-bottom:20px;

    color:#666;

}

.note{

    text-align:center;

    margin-top:15px;

    color:#888;

}

@media(max-width:600px){

    .dashboard,
    .login-box{

        padding:20px;

    }

    .quick-grid{

        grid-template-columns:1fr;

    }

}